!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Thank you for signing up for our site, #{@user.name}
    %p
      Please verify your email address using the code below,
      = @verificationcode
      %br/
    %p
      To login to the site, just follow this link: #{@url}.
    %p Thanks for joining the beta of lani!