
= render template: "navbar/index"
- if @user.id == nil
  #header
    .top
      %i#scrollbutton.fa.fa-bars.fa-2x{style: "color:white;"}
      = link_to "Learn More", about_path, :id => "about", :class => "nav_box"
    .content
      %img{src: "/assets/logo.png", width: "127"}
      .text upload. purchase. print.
      .title lani
  :css
    #main_content{
      top:450px;
    }
= render :controller => "model_objects", :action => "categoryList", :template => "model_objects/categoryList"
= render file: "model_objects/galleryView"

