// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_comment_wrapper{
	input#comments_title, textarea {
		border: 2px solid #ebebeb;
		background: #ffffff; /* Old browsers */
		color:#2b2b2b;
		&:focus {
			outline:0px !important;
			-webkit-appearance:none;
			color:#4783c3;
			-webkit-box-shadow: 0px 0px 3px 0px #c6ddea;
			-moz-box-shadow:    0px 0px 3px 0px #c6ddea;
			box-shadow:         0px 0px 3px 0px #c6ddea;
			border-color: #4783c3;
		}

	}
	h1 {
		font-size:19px;
	}

	input[type="submit"] {
		float:right;
		margin-top:-40px;
	}
	textarea {
		max-width: 550px;
		min-width: 550px;

		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		min-height:100px;
		padding:5px;
	}

	background-color:white;
	width:80%;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	padding:10px;




}