  @import url(http://fonts.googleapis.com/css?family=Open+Sans);

  #new_comment {
    display: block;
    position: relative;
    /*top: 400px;*/
    margin-left: -19px;
    background-color: #f7f7f7;
    width:503px;
    min-height:200px;
    border: 1px solid #eaeaea;
    text-align: left;
    margin-top: 5px;
  }
  #new_comment .header {
    background-color: #f2f2f2;
    width: 575;
    height: 80px;
  }
  #new_comment .header, #new_comment .content {
    padding-left: 10px;
    padding-top: 8px;
  }
  #new_comment textarea {
    width: 500px;
    min-height: 100px;
  }
  #new_comment h2 {
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans';
    font-weight: 500;
    color: #535959;
    font-size: 18px;
    padding-bottom: 5px;
  }
  body {
    text-align: center;
    min-height: 1000px;
  }
  #top {
    display: block;
    width: 100%;
    height: 180px;
  }
  #single .button {
    background-color: #4b9298;
    padding: 4px 10px;
    border-radius: 5px;
    color: white;
  }
  #bottom {
    display: inline-block;   
    height: 100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  #bottom .item {
    float: left;
    border: 1px solid white;
    margin-top: 20px;
    margin-left: 10px;
    padding: 10px;
    font-family: "Open Sans";
    color: white;
    font-weight: 100;

  }
  #main_image {
    width:150px;
    height:150px;
    position: relative;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border: 2px solid white;
    margin-left: 10px; 
    float: left;
    margin-top: 10px;
  }
  #info {
    float:left;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 13px;
    text-align: left;
  }
  #info .content {
    color: white;
    font-family: "Open Sans";
    overflow: visible;

  }
  #info .tag {
    background-color: rgba(49, 30, 26,0.5);
    padding: 4px 5px;
    border-radius: 6px;
    font-size: 10px;
    font-weight: 600;
  }
  #info .title{
    font-weight: 100;
    font-size: 20px;
    font-family: "Open Sans";
    color: white;
  }
  #single {
/*    border: 3px solid #ffffff;
*/    width: 100%;

  }
  table {
    height: 100%;
    padding-bottom: 200px;
  }
  tr {
    vertical-align:text-top;
  }
  #left {
    width:200px;
  }
  #main_content {
    height: 100%;
    position: relative;
    margin:auto;
  }

  #blur {
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 470px;
    height: 270px;
    position: absolute;
    z-index: -100;
  }
  #main {
    background-color: rgba(0, 0, 0, 0.5);
    width:500px;
    height: 300px;
    border:  solid 17px #f7f7f7;  
    outline: solid 1px #e5e5e5;
        position: relative;
    margin:auto;
    left: -75px;
  }


#main_content input[type="text"], #main_content input[type="email"], #main_content textarea,  #main_content select{
    border: 1px solid #CCC;
    color: #888;
    height: 20px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 6px 12px;
    width: 68%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    font: normal 14px/14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
h1 {font-size: 20px}
h2{font-size: 13px;color:#c6c6c6;}
h3{font-size: 13px;}