- categories = ["Art", "Collectibles", "Electronics", "Pets", "Accessories", "Pottery", "Sports", "Toys"]
%div{:style => "float:left;"}
  #categories_menu{:style=> "margin-top:40px;"}
    %h2{:style=> "font-family:Railway-Light;"} Categories
    - categories.each do |category|
      %h5{:style=> "font-family:Roboto-Light;"}= link_to category, model_objects_search_path(search: {:name => 0, :category => 1,:text => category}), :method => :post
